# ESP32C GPIO configuration options

# Copyright (c) 2017 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menuconfig GPIO_ESP32C
	bool "ESP32C GPIO"
	depends on SOC_ESP32C
	help
	  Enables the ESP32C GPIO driver

if GPIO_ESP32C

config GPIO_ESP32C_IRQ
	int "IRQ line for ESP32C GPIO pins"
	default 10
	help
	  Select the IRQ line to be used for GPIO interrupts.

	  Edge-triggered interrupts are supported on lines: 10, 22,
	  28, 30.

	  Level-triggered interrupts are supported on lines: 0-5, 8,
	  9, 12, 13, 17-21, 23-27, 31.

config GPIO_ESP32C_0
	bool "ESP32C GPIO (pins 0-31)"
	default y
	help
	  Include support for GPIO pins 0-31 on the ESP32C.

config GPIO_ESP32C_1
	bool "ESP32C GPIO (pins 32-39)"
	default y
	help
	  Include support for GPIO pins 32-39 on the ESP32C.

endif # GPIO_ESP32C
